@model NumberGuessingGame.ViewModels.SecretNumberViewModel

<header id="content-header">
	<h1>@Model.Title</h1>
</header>

@Html.Partial("MakeGuessInput", Model)
@Html.Partial("PreviousGuesses", Model)