@model NumberGuessingGame.ViewModels.SecretNumberViewModel

<div id="guess-input">
@if (Model.CanMakeGuess)
{
	<p>
		Gissa ett tal mellan 1 och 100:
		@Html.TextBoxFor(model => model.Guess)
	</p>
}
</div>