@charset "utf-8";

.clearfix:after
{
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	clear: both;	
}

body
{
	color: #333;
	font-family: 'Open Sans';
}

div#wrapper
{
	width: 600px;
	margin: 50px auto;
	padding: 25px;
}

header#site-header h1
{
	text-transform: uppercase;
	font-size: 38px;
	line-height: 38px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #bbb;
}

header#content-header
{
	margin-top: 25px;
}

header#content-header h1
{
	font-size: 24px;
	line-height: 24px;
	margin: 0;	
}

div#guess-input
{
	margin: 20px 0;
}

div#guess-input #Guess
{
	display: inline;
	width: 30px;
	padding: 5px;
	font-family: 'Courier New', monospace;
	text-align: center;
	margin: 0 5px;
}

div.previous-guess
{
	float: left;
	text-align: center;
	border-bottom: 1px solid #000;
}

div.previous-guess div.head
{
	background: #333;
	color: #fff;
	padding: 2px 9px;
}

div.previous-guess:first-child div.body
{
	border-left: 1px solid #000;
}

div.previous-guess div.body
{
	height: 65px;
	padding-top: 5px;	
	border-right: 1px solid #000;
}

div.previous-guess div.body p.correct
{
	font-weight: bold;
	line-height: 65px;
}

div.previous-guess div.body p.icon
{
	font-size: 21px;
	line-height: 23px;
	margin-bottom: 0;
}

div.previous-guess div.body p.number
{
	font-weight: bold;
}

div.previous-guess div.correct
{
	background: #99fb86;
}

div.previous-guess div.high
{
	background: #7d9fff;
}

div.previous-guess div.low
{
	background: #fe9292;
}